# Base de données PostgreSQL
DATABASE_URL="postgresql://activite_user:activite_password@localhost:5432/activite_db?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="votre-secret-de-production-a-changer"

# Upload
UPLOAD_DIR="public/uploads"
MAX_FILE_SIZE=5242880
